/*  fonts  */
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswalddmedium.woff") format("woff");
  font-weight: 600;
}
/*  variables  */
/* colors */
/* breakpoints */
/*  mixins  */
/*  global  */
body {
  position: relative;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #444444;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
/*  blocks  */
.advantages {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 19px;
}
.advantages__title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  font-size: 36px;
  line-height: 54px;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  position: relative;
  margin-bottom: 26px;
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: -2px;
  width: 60px;
  height: 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68b738;
}
.advantages__item--healthy::before {
  background-image: url("../../img/advantage-leaf@1x.png");
}
.advantages__item--easy::before {
  background-image: url("../../img/advantage-powder@1x.png");
}
.advantages__item--convenience::before {
  background-image: url("../../img/advantage-dining@1x.png");
}
.advantages__item--fast::before {
  background-image: url("../../img/advantage-clock@1x.png");
}
.advantages__text {
  margin: 0;
  margin-left: 80px;
}
@media (min-width: 768px) {
  .advantages {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .advantages__title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
  .advantages__list {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .advantages__item {
    width: 324px;
    box-sizing: border-box;
    margin-top: 31px;
    margin-bottom: 57px;
    padding-top: 114px;
    padding-right: 75px;
    padding-bottom: 43px;
  }
  .advantages__item--healthy::after {
    content: "1";
    right: 95px;
  }
  .advantages__item--easy::after {
    content: "2";
    right: 79px;
  }
  .advantages__item--convenience::after {
    content: "3";
    right: 77px;
  }
  .advantages__item--fast::after {
    content: "4";
    right: 76px;
  }
  .advantages__item::before {
    top: 0;
    width: 80px;
    height: 80px;
  }
  .advantages__item::after {
    position: absolute;
    z-index: -5;
    top: -37px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
  }
  .advantages__text {
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .advantages {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .advantages__item {
    width: 245px;
    margin-bottom: 0;
    padding-right: 0;
  }
  .advantages__item--healthy::after {
    right: 15px;
  }
  .advantages__item--easy::after {
    right: -2px;
  }
  .advantages__item--convenience::after {
    right: -3px;
  }
  .advantages__item--fast::after {
    right: -4px;
  }
  .advantages__item::before {
    top: 2px;
  }
}
.button {
  display: block;
  padding: 10px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  border: none;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.catalog {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 28px;
  padding: 0;
  padding-top: 15px;
}
.catalog__headline {
  margin: 0;
  margin-bottom: 28px;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 67px;
    padding-top: 58px;
  }
  .catalog__headline {
    margin-bottom: 65px;
    padding: 0;
    font-size: 60px;
  }
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 60px;
  }
}
@media (min-width: 1280px) {
  .catalog {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 75px;
    padding-top: 72px;
  }
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 43px;
  }
}
.decor-headline {
  position: relative;
}
.decor-headline::after,
.decor-headline::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 3;
  height: 3px;
  margin-top: 2px;
  width: 3000px;
  background-color: #68b738;
}
.decor-headline::before {
  margin-left: -3022px;
}
.decor-headline::after {
  margin-left: 22px;
}
.decor-headline--special::after,
.decor-headline--special::before {
  margin-top: -8px;
}
.decor-headline--special::after {
  margin-left: 45px;
}
@media (min-width: 768px) {
  .decor-headline::after,
  .decor-headline::before {
    margin-top: 4px;
  }
  .decor-headline::before {
    margin-left: -3040px;
  }
  .decor-headline::after {
    margin-left: 36px;
  }
}
.desc {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
}
.desc__col1,
.desc__col2 {
  padding: 0;
}
.desc__col1 {
  font-weight: normal;
}
.desc__col2 {
  text-align: right;
}
@media (min-width: 768px) {
  .desc {
    font-size: 16px;
    line-height: 31px;
  }
  .desc__row {
    border-bottom: 1px solid #cdcdcd;
  }
}
.exemple {
  background-color: #f2f2f2;
}
.exemple__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 18px;
  padding-bottom: 37px;
}
.exemple__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 34px;
}
.exemple__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 23px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
}
.exemple__text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 2px;
}
.exemple__measures {
  margin-bottom: 34px;
}
.exemple__cost {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .exemple {
    background-image: linear-gradient(to top, #f2f2f2 462px, #ffffff 462px);
  }
  .exemple__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 45px;
    padding-bottom: 73px;
  }
  .exemple__info {
    position: relative;
    align-items: flex-start;
    margin-bottom: 86px;
  }
  .exemple__title {
    font-size: 60px;
    margin-bottom: 64px;
  }
  .exemple__text {
    margin-bottom: 52px;
  }
  .exemple__measures {
    margin-bottom: 0;
  }
  .exemple__cost {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 190px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .exemple {
    background-image: linear-gradient(to bottom, #ffffff 192px, #f2f2f2 192px);
  }
  .exemple__wrapper {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
  .exemple__info {
    box-sizing: border-box;
    margin-bottom: 70px;
    padding-top: 57px;
    padding-left: 30px;
    padding-right: 120px;
  }
  .exemple__title {
    margin-bottom: 146px;
  }
  .exemple__text {
    margin-bottom: 68px;
  }
  .exemple__measures {
    margin-bottom: 55px;
  }
  .exemple__cost {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    width: 330px;
  }
  .exemple__cost span {
    margin-left: 64px;
  }
}
.extra-card {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
.extra-card__title {
  margin: 0;
  margin-bottom: 13px;
  padding-left: 1px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}
.extra-card__desc {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .extra-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 36px;
    padding-top: 25px;
    padding-bottom: 27px;
    border: 1px solid #ebebeb;
  }
  .extra-card__title {
    margin-bottom: 26px;
    padding-left: 3px;
    font-size: 20px;
    line-height: 20px;
  }
  .extra-card__desc {
    line-height: 28px;
  }
  .extra-card__amount {
    margin-right: 50px;
  }
  .extra-card__cost {
    width: 44px;
    text-align: right;
  }
  .extra-card__button {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .extra-card {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    border-right: none;
    border-left: none;
  }
  .extra-card__title {
    margin: 0;
    margin-right: auto;
    padding-left: 1px;
  }
  .extra-card__desc {
    justify-content: space-between;
    align-self: flex-end;
    width: 288px;
    margin: 0;
    margin-right: 37px;
    line-height: 32px;
  }
  .extra-card__cost {
    text-align: left;
  }
  .extra-card__button {
    width: 245px;
  }
}
.extra {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 34px;
}
.extra__headline {
  margin: 0;
  margin-bottom: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
}
.extra__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .extra {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 75px;
  }
  .extra__headline {
    margin-bottom: 81px;
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
  }
  .extra__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1280px) {
  .extra {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
  .extra__headline {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .extra__list {
    width: 895px;
    margin: 0;
  }
}
.intro {
  position: relative;
  margin-bottom: 22px;
  background-image: linear-gradient(to bottom, #68b738 305px, #ffffff 305px);
}
.intro__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  padding-top: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-align: center;
  color: #ffffff;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro__wrapper {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}
.intro__wrapper::after {
  content: "";
  position: absolute;
  top: 166px;
  left: 50%;
  width: 280px;
  height: 271px;
  margin-left: -140px;
  background-image: url("../../img/index-can-mobile@1x.png");
  background-position-x: center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro__wrapper::after {
    background-image: url("../../img/index-can-mobile@2x.png");
    background-size: 280px auto;
  }
}
.intro__headline {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}
.intro__slogan {
  margin: 0;
  margin-bottom: auto;
  line-height: 14px;
  text-transform: uppercase;
}
.intro__search {
  width: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  .intro {
    background-image: none;
    margin-bottom: 39px;
  }
  .intro__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    align-items: flex-start;
    height: 828px;
    padding: 0 117px;
    padding-top: 58px;
    text-align: left;
    color: #111111;
    background-image: none;
  }
  .intro__wrapper::after {
    top: 259px;
    z-index: -2;
    height: 610px;
    width: 710px;
    margin-left: -356px;
    background-image: url("../../img/index-can-tablet@1x.jpg");
  }
  .intro__headline {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }
  .intro__slogan {
    margin-bottom: 48px;
    padding-left: 1px;
    font-size: 20px;
    line-height: 20px;
  }
  .intro__search {
    width: 245px;
    padding: 16px 0;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro__wrapper::after {
    background-image: url("../../img/index-can-tablet@2x.jpg");
    background-size: 709px auto;
  }
}
@media (min-width: 1280px) {
  .intro {
    height: 696px;
    margin-bottom: 80px;
    background-image: url("../../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff 50%, #5eaa2f 50%);
    background-position: 100% 0, 0 0;
    background-repeat: no-repeat;
  }
  .intro__wrapper {
    width: 1280px;
    margin: 0 auto;
    padding-top: 222px;
    padding-right: 600px;
    padding-left: 110px;
  }
  .intro__wrapper::after {
    top: 142px;
    z-index: 3;
    height: 499px;
    width: 552px;
    margin-left: -160px;
    background-image: url("../../img/index-can-desktop@1x.png");
  }
  .intro__slogan {
    margin-bottom: 53px;
    padding-left: 0;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url("../../img/index-background-desktop@2x.jpg"), linear-gradient(to right, #ffffff 50%, #5eaa2f 50%);
    background-size: 720px auto;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .intro__wrapper::after {
    background-image: url("../../img/index-can-desktop@2x.png");
    background-size: 552px auto;
  }
}
.main-nav {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    display: block;
  }
}
.main-nav__toggle {
  position: absolute;
  top: -66px;
  right: 0;
  z-index: 2;
  display: block;
  width: 64px;
  height: 66px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 31px;
  left: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  display: block;
}
@media (min-width: 768px) {
  .main-nav {
    border: none;
  }
  .main-nav__toggle {
    display: none;
  }
}
.map {
  background-color: #ffffff;
}
.map--grey {
  background-color: #f2f2f2;
}
.map__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 26px;
  line-height: 20px;
}
.map__info {
  display: flex;
  justify-content: space-between;
}
.map__slogan {
  width: 130px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
}
.map__alt {
  width: 140px;
  margin: 0;
}
.map__container {
  height: 362px;
  width: 100%;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-position: top center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .map__container {
    background-image: url("../../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}
.map__iframe {
  border: none;
}
@media (min-width: 768px) {
  .map__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    padding: 0 71px;
    padding-top: 66px;
    padding-bottom: 60px;
  }
  .map__slogan {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
  .map__alt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    line-height: 18px;
    text-align: right;
  }
  .map__container {
    height: 400px;
    background-image: url("../../img/bg-map-tablet@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .map__container {
    background-image: url("../../img/bg-map-tablet@2x.png");
    background-size: 767px auto;
  }
}
@media (min-width: 1280px) {
  .map {
    position: relative;
  }
  .map__wrapper {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    height: 400px;
  }
  .map__info {
    position: absolute;
    top: 95px;
    left: 30px;
    z-index: 5;
    width: 570px;
    box-sizing: border-box;
    padding-top: 67px;
    padding-right: 75px;
    padding-bottom: 60px;
    padding-left: 75px;
    background-color: #ffffff;
  }
  .map__alt {
    text-align: left;
  }
  .map__container {
    position: absolute;
    width: 100%;
    top: 0;
    background-image: url("../../img/bg-map-desktop@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .map__container {
    background-image: url("../../img/bg-map-desktop@2x.png");
    background-size: 1440px auto;
  }
}
.measure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.measure__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 54px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.measure__result {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}
.measure__desc {
  position: absolute;
  bottom: -16px;
  display: block;
  box-sizing: border-box;
  width: 87px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .measure {
    width: 366px;
  }
  .measure__item {
    width: 160px;
    height: 71px;
  }
  .measure__result {
    font-size: 30px;
    line-height: 37px;
  }
  .measure__desc {
    bottom: -7px;
    width: auto;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .measure__item {
    height: 69px;
  }
  .measure__desc {
    background-color: #f2f2f2;
  }
}
.page-footer {
  background-color: #f2f2f2;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 36px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
}
.page-footer__logo {
  align-self: center;
  margin-bottom: 26px;
}
.page-footer__logo[href]:hover {
  opacity: 0.8;
}
.page-footer__logo[href]:active {
  opacity: 0.6;
}
.page-footer__social {
  margin-bottom: 20px;
}
.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -6px;
  color: #444444;
  text-decoration: none;
}
.page-footer__copyright svg {
  fill: #666666;
}
.page-footer__copyright:hover svg {
  fill: #68b738;
}
.page-footer__copyright:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 44px;
    padding-bottom: 45px;
  }
  .page-footer__logo {
    margin: 0;
    padding-top: 6px;
    width: 164px;
  }
  .page-footer__social {
    margin: 0;
  }
  .page-footer__copyright {
    width: 170px;
  }
}
@media (min-width: 1280px) {
  .page-footer__wrapper {
    width: 1280px;
    margin: 0 auto;
  }
  .page-footer__logo-img {
    width: 128px;
  }
}
.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  padding: 0;
}
.page-header__logo {
  align-self: flex-start;
  height: 66px;
  padding: 0 20px;
  text-align: center;
}
.page-header__logo[href]:hover {
  opacity: 0.8;
}
.page-header__logo[href]:active {
  opacity: 0.6;
}
.page-header__logo-img {
  display: block;
  width: 191px;
  height: 60px;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .page-header__logo {
    align-self: flex-end;
    padding: 0;
  }
  .page-header__logo-img {
    width: 173px;
    height: 58px;
    padding-top: 8px;
  }
}
@media (min-width: 1280px) {
  .page-header {
    width: 1280px;
    margin: 0 auto;
  }
  .page-header--absolute {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -640px;
  }
  .page-header__logo-img {
    width: 202px;
    height: 66px;
    padding: 0;
  }
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 18px;
  padding-top: 21px;
  padding-bottom: 24px;
  border: 1px solid #f2f2f2;
  border-bottom: none;
}
.product-card__img {
  position: absolute;
  top: 0;
  left: 19px;
}
.product-card__info {
  align-self: flex-end;
  width: 140px;
}
.product-card__link {
  text-decoration: none;
}
.product-card__title {
  margin: 0;
  margin-bottom: 13px;
  padding-right: 42px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
.product-card__desc {
  margin-bottom: 22px;
}
.product-card--all {
  padding-top: 79px;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}
.product-card--all::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  background-image: url("../../img/icon-plus-mobile.svg");
}
.product-card--all .product-card__title {
  margin-bottom: 8px;
  padding: 0;
}
.product-card__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
}
.product-card__all {
  color: #444444;
  background-color: #f2f2f2;
}
.product-card__all:hover {
  background-color: #ebebeb;
}
.product-card__all:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .product-card {
    width: 324px;
    margin-top: 100px;
    padding: 0 38px;
    padding-top: 163px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
    border: none;
  }
  .product-card__img {
    top: auto;
    left: 0;
    bottom: 305px;
    width: 324px;
  }
  .product-card__info {
    align-self: stretch;
    width: 100%;
  }
  .product-card__title {
    margin-bottom: 19px;
    padding: 0 50px;
    font-size: 20px;
    text-align: center;
  }
  .product-card__desc {
    margin-bottom: 33px;
  }
  .product-card--all {
    align-self: stretch;
    padding-bottom: 39px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
  }
  .product-card--all::before {
    top: 54px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    background-image: url("../../img/icon-plus.svg");
  }
  .product-card--all .product-card__title {
    margin-bottom: 25px;
    padding: 0 35px;
  }
  .product-card__text {
    margin-bottom: auto;
    padding: 0 35px;
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 1280px) {
  .product-card {
    width: 245px;
  }
  .product-card__img {
    width: 245px;
  }
  .product-card__title {
    padding: 0 15px;
  }
  .product-card--all .product-card__title,
  .product-card__text {
    padding: 0;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 32px;
  padding: 0;
  padding-top: 15px;
}
.profile__headline {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 25px;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  font-size: 36px;
  line-height: 60px;
}
.profile__intro {
  align-self: flex-start;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-right: 30px;
}
.profile__form {
  margin-bottom: 21px;
}
.profile__note {
  align-self: center;
  margin: 0;
  line-height: 16px;
}
@media (min-width: 768px) {
  .profile {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 72px;
    padding-top: 58px;
  }
  .profile__headline {
    margin-bottom: 55px;
    padding: 0;
    font-size: 60px;
  }
  .profile__intro {
    width: 350px;
    margin-bottom: 66px;
    padding-left: 41px;
    font-size: 20px;
    line-height: 30px;
  }
  .profile__form {
    margin: 0;
    padding-right: 37px;
    padding-left: 41px;
  }
  .profile__note {
    position: absolute;
    bottom: 20px;
    left: 415px;
  }
}
@media (min-width: 1280px) {
  .profile {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 82px;
    padding-top: 73px;
  }
  .profile__intro {
    margin-bottom: 65px;
    padding: 0;
  }
  .profile__form {
    padding: 0;
  }
  .profile__note {
    left: 682px;
  }
}
.programms {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}
.programms__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.programms__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-top: 30px;
  background-color: #f2f2f2;
}
.programms__item::before,
.programms__item::after {
  content: "";
  position: absolute;
}
.programms__item::before {
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
.programms__item::after {
  background-repeat: no-repeat;
}
.programms__item--slim::after {
  top: 22px;
  left: 30px;
  width: 35px;
  height: 50px;
  background-image: url("../../img/icon-cat-slim.svg");
}
.programms__item--pro::after {
  top: 35px;
  left: 13px;
  width: 67px;
  height: 30px;
  background-image: url("../../img/icon-cat-pro.svg");
}
.programms__title {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
}
.programms__desc {
  margin: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;
}
.programms__link {
  position: relative;
  padding: 21px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}
.programms__link:active {
  opacity: 0.3;
}
.programms__link::after {
  position: absolute;
  right: -45px;
  top: 50%;
  width: 32px;
  height: 10px;
  margin-top: -6px;
  content: "";
  background-image: url("../../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
.programms__link:hover::after,
.programms__link:active::after {
  background-image: url("../../img/icon-right-arrow-verylong.svg");
}
@media (min-width: 768px) {
  .programms {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 15px;
  }
  .programms__item {
    margin-bottom: 30px;
    padding-top: 76px;
    padding-right: 275px;
    padding-bottom: 40px;
    padding-left: 53px;
  }
  .programms__item--pro {
    padding-right: 312px;
  }
  .programms__item::before {
    top: 92px;
    right: 62px;
    left: auto;
    width: 200px;
    height: 200px;
  }
  .programms__item--slim::after {
    top: 79px;
    right: 87px;
    left: auto;
    width: 145px;
    height: 195px;
  }
  .programms__item--pro::after {
    top: 135px;
    right: 26px;
    left: auto;
    width: 270px;
    height: 112px;
  }
  .programms__title {
    margin-bottom: 26px;
    margin-left: 0;
    font-size: 36px;
  }
  .programms__desc {
    padding-bottom: 36px;
    border: none;
  }
  .programms__link {
    font-size: 20px;
    line-height: 20px;
  }
  .programms__link::after {
    right: -58px;
  }
}
@media (min-width: 1280px) {
  .programms {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 33px;
  }
  .programms__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .programms__item {
    width: 570px;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 0 52px;
    padding-top: 76px;
    padding-bottom: 40px;
  }
  .programms__item::before {
    top: 47px;
    right: auto;
    width: 100px;
    height: 100px;
  }
  .programms__item--slim::after {
    top: 41px;
    left: 66px;
    width: 70px;
    height: 100px;
  }
  .programms__item--pro::after {
    top: 69px;
    left: 34px;
    width: 134px;
    height: 60px;
  }
  .programms__title {
    margin-bottom: 74px;
    margin-left: 162px;
  }
  .programms__desc {
    padding-bottom: 11px;
  }
}
.promo {
  position: relative;
  padding: 0 50px;
  padding-top: 187px;
  padding-bottom: 42px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}
.promo__text::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -27px;
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
}
.promo__text {
  margin: 0;
}
@media (min-width: 768px) {
  .promo {
    padding-top: 72px;
    padding-right: 100px;
    padding-bottom: 68px;
    padding-left: 423px;
    text-align: left;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }
  .promo__text::before {
    left: 118px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .promo {
    background-image: url("../../img/gift-photo-tablet@2x.jpg");
    background-size: 708px auto;
  }
}
@media (min-width: 1280px) {
  .promo {
    position: absolute;
    top: 116px;
    right: 30px;
    width: 245px;
    box-sizing: border-box;
    padding: 0 40px;
    padding-top: 187px;
    padding-bottom: 42px;
    text-align: center;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }
  .promo__text::before {
    left: 50%;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .promo {
    background-image: url("../../img/gift-photo-desktop@2x.jpg");
    background-size: 245px auto;
  }
}
.form,
.form__wrapper {
  display: flex;
  flex-direction: column;
}
.form__section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 23px;
  padding: 0 19px;
  border: none;
}
.form__section--bordered {
  padding-top: 21px;
  padding-bottom: 20px;
  border: 1px solid #f2f2f2;
}
.form__title {
  margin-bottom: 34px;
  padding-top: 5px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  font-size: 24px;
  line-height: 24px;
}
.form__line {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 14px;
}
.form__line:last-child {
  margin-bottom: 0;
}
.form__label {
  margin-right: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.form__input {
  position: relative;
  width: 100%;
  padding: 12px 0;
  padding-left: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  border: 1px solid #e7e7e7;
}
.form__input:hover {
  border: 1px solid #cdcdcd;
}
.form__input:focus {
  outline: 2px solid #444444;
}
.form__input:focus + .form__icon {
  fill: #68b738;
}
.form__input:invalid {
  outline: 2px solid #ff8282;
}
.form__input:invalid + .form__icon {
  fill: #ff8282;
}
.form__icon--email,
.form__icon--phone {
  position: absolute;
  top: 50%;
}
.form__icon--email {
  right: 17px;
  margin-top: -6px;
}
.form__icon--phone {
  right: 15px;
  margin-top: -10px;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__label--radio,
.form__label--checkbox {
  margin: 0;
  padding: 5px 0;
  padding-left: 46px;
}
.form__label--radio:hover::before,
.form__label--checkbox:hover::before {
  border: 1px solid #bababa;
}
.form__label--radio:active,
.form__label--checkbox:active {
  color: rgba(34, 34, 34, 0.3);
}
.form__label--radio:active::before,
.form__label--checkbox:active::before {
  border: 1px solid rgba(186, 186, 186, 0.3);
}
.form__label--radio::before,
.form__label--checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
}
.form__label--radio::before {
  border-radius: 50%;
}
.form__box:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
.form__label--radio:active::after {
  opacity: 0.3;
}
.form__box:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 17px;
  height: 9px;
  border: 2px solid #68b738;
  border-top: none;
  border-right: none;
  transform: rotate(-50deg);
}
.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 151px;
  padding-top: 13px;
  padding-left: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  border: 1px solid #f2f2f2;
}
.form__button {
  margin: 0 20px;
  margin-top: 11px;
}
@media (min-width: 768px) {
  .form__section {
    margin-bottom: 62px;
    padding: 0;
  }
  .form__section--bordered {
    margin-top: 10px;
    margin-bottom: 72px;
    padding: 28px;
  }
  .form__section--smaller {
    margin-bottom: 19px;
  }
  .form__section--smaller .form__title {
    margin-bottom: 61px;
  }
  .form__section--smaller .form__line {
    margin-bottom: 39px;
  }
  .form__title {
    margin-bottom: 76px;
    padding-top: 2px;
    font-size: 36px;
    line-height: 36px;
  }
  .form__line {
    margin-bottom: 20px;
  }
  .form__label {
    margin-right: 18px;
    font-size: 20px;
    line-height: 21px;
  }
  .form__input {
    padding: 11px 0;
    padding-left: 18px;
    font-size: 19px;
  }
  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .form__label--checkbox {
    box-sizing: border-box;
    width: 285px;
  }
  .form__label--radio,
  .form__label--checkbox {
    margin: 0;
    padding: 6px 0;
    padding-left: 58px;
  }
  .form__label--radio::before,
  .form__label--checkbox::before {
    left: -2px;
    top: -4px;
    width: 38px;
    height: 38px;
  }
  .form__box:checked + .form__label--radio::after {
    left: 9px;
    top: 7px;
    width: 18px;
    height: 18px;
  }
  .form__box:checked + .form__label--checkbox::after {
    left: 9px;
    top: 9px;
  }
  .form__textarea {
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }
  .form__button {
    width: 283px;
    margin: 0;
    padding: 16px 0;
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .form__wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .form__wrapper > .form__section,
  .form__wrapper > .form__line {
    width: 570px;
  }
  .form__section {
    margin-bottom: 67px;
  }
  .form__section--bordered {
    margin-top: 0;
  }
  .form__section--with-columns {
    margin-bottom: 47px;
  }
  .form__section--smaller {
    margin-bottom: 25px;
  }
  .form__title {
    padding: 0;
  }
  .form__label--checkbox {
    width: 245px;
  }
  .form__label--checkbox::before {
    left: 0;
  }
  .form__box:checked + .form__label--checkbox::after {
    left: 11px;
    top: 7px;
  }
  .form__button {
    width: 570px;
  }
}
.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__link {
  display: block;
  padding: 23px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #f2f2f2;
}
.site-list__link:hover[href] {
  color: rgba(0, 0, 0, 0.6);
}
.site-list__link:active[href] {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
  }
  .site-list__link {
    position: relative;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: #222222;
    border: none;
  }
  .site-list__link--active::after {
    content: "";
    position: absolute;
    bottom: 6px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1280px) {
  .site-list {
    width: 478px;
  }
  .site-list--white .site-list__link {
    color: #ffffff;
  }
  .site-list--white .site-list__link:hover[href] {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-list--white .site-list__link:active[href] {
    color: rgba(255, 255, 255, 0.3);
  }
  .site-list--white .site-list__link--active::after {
    background-color: #ffffff;
  }
  .site-list__link {
    padding-top: 73px;
    padding-bottom: 18px;
    font-size: 20px;
  }
}
.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  height: 240px;
  margin-bottom: 31px;
}
.slider__item--show {
  display: block;
}
.slider__item--hidden {
  display: none;
}
.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__control {
  padding: 0;
  width: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
}
.slider__control--was {
  text-align: right;
}
.slider__control--now {
  text-align: left;
}
.slider__scale {
  position: relative;
  width: 82px;
  height: 12px;
  margin: 0 18px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.slider__bar {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 35px;
  height: 6px;
  margin-top: -3px;
  background-color: #68b738;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider__list {
    width: 690px;
    height: 517px;
    margin: 0;
    margin-bottom: 20px;
  }
  .slider__item {
    padding-left: 7px;
  }
  .slider__controls {
    justify-content: space-between;
    width: 570px;
  }
  .slider__control {
    position: relative;
    font-size: 20px;
    color: #000000;
  }
  .slider__control::after {
    content: "";
    position: absolute;
    bottom: -6px;
    border-top: 1px dotted rgba(0, 0, 0, 0.24);
  }
  .slider__control--was {
    text-align: left;
  }
  .slider__control--was::after {
    width: 45px;
    left: 0;
  }
  .slider__control--now {
    text-align: right;
  }
  .slider__control--now::after {
    width: 49px;
    right: 0;
  }
  .slider__control:hover::after {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
  .slider__control:active::after {
    border-top: none;
  }
  .slider__scale {
    width: 428px;
    height: 6px;
    margin: 0;
    background-color: #cdcdcd;
    border: none;
    border-radius: 2.5px;
  }
  .slider__bar {
    width: 8px;
    height: 8px;
    margin-top: -16px;
    margin-right: -16px;
    background-color: #68b738;
    border: 12px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd, 0 1px 3px 1px rgba(0, 0, 0, 0.16);
  }
  .slider__bar:hover {
    box-shadow: 0 0 0 1px #cdcdcd, 0 2px 4px 2px rgba(0, 0, 0, 0.19);
  }
  .slider__bar:active {
    box-shadow: 0 0 0 1px #68b738, 0 3px 5px 2px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 1280px) {
  .slider__list {
    margin-bottom: 43px;
  }
  .slider__item {
    padding-left: 10px;
    padding-top: 2px;
  }
  .slider__controls {
    align-self: flex-end;
    margin-right: 30px;
  }
}
.social {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 170px;
  margin: 0 auto;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 60px;
}
.social__link--vk {
  justify-content: flex-end;
}
.social__link--fb {
  justify-content: flex-start;
}
.social__icon {
  fill: #666666;
}
.social__icon:hover {
  fill: #68b738;
}
.social__icon:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social {
    border: none;
  }
  .social__list {
    width: 160px;
  }
  .social__link--vk svg {
    width: 30px;
    height: 16px;
  }
  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }
  .social__link--fb svg {
    width: 14px;
    height: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
